## About the Course
{:.mt-0}

This course introduces students to introductory topics in computer and network security.
Throughout the semester students will be introduced to a variety of security issues in software design and development from technical, social, and legal viewpoints.
Topics include basic security concepts, security models, software security, network and web security, cryptography, and recent issues in computer and network security.

Students will study a variety of exploration tools, system defenses, and attacks on computer software and hardware.
<!-- These attacks are caused by the vulnerabilities in the design and implementation of computer systems. -->
The course emphasizes "learning by doing," and requires students to conduct a series of lab exercises.
Through these labs, students can enhance their understanding of the principles, and be able to apply those principles to solve real problems.

##### *(NEW!)* CSCI 594: Advanced Security

Students enrolled in CSCI 594 will complete work and explore advanced topics above and beyond the traditional work and topics covered in CSCI 476.
Specifically, students will engage in paper critiques and additional tasks on labs that give students opportunities to dig deeper into more advanced security topics and problems.

##### Prerequisites

Prior to taking this course
([CSCI 476](http://catalog.montana.edu/search/?P=CSCI%20476) / [CSCI 594](http://catalog.montana.edu/search/?P=CSCI%20594)),
you should have fulfilled the following CSCI prerequisites:
{:.p-0 .m-0}
- [CSCI 112 --- C Programming](http://catalog.montana.edu/search/?P=CSCI%20112) **(strongly recommended)**
- [CSCI 232 --- Data Structures and Algorithms](http://catalog.montana.edu/search/?P=CSCI%20232) **(required)**
- [CSCI 366 --- Computer Systems](http://catalog.montana.edu/search/?P=CSCI%20366) **(strongly recommended)**
- [CSCI 460 --- Operating Systems](http://catalog.montana.edu/search/?P=CSCI%20460) **(strongly recommended)**
- [CSCI 466 --- Networks](http://catalog.montana.edu/search/?P=CSCI%20466) **(strongly recommended)**

If you do not have any of the above prerequisites, you should touch base with me as soon as possible.
I'm typically supportive of students that wish to enroll in the course even if they do not satisfy all of the recommended prerequisites,
so long as you understand that you may need to talk with me and/or do additional work independently to make sure you are prepared for our coursework.
