<div>
  {% include menu.html %}
</div>

<div id="coursetitle">
  <span style="color: #777; font-weight:200; font-size:1.0rem; font-style: italic;">Welcome to</span>
  <h1 data-toc-skip>
  {{ site.data.settings.titlenum }}: {{ site.data.settings.title }}
  <br/> &
  {{ site.data.settings.gradtitlenum }}: {{ site.data.settings.gradtitle }}
  </h1>
  <span style="color: #777; font-weight:200; font-size:1.0rem; font-style: italic;">{{ site.data.settings.school }}, {{ site.data.settings.term }} <br/> (COVID-19 Edition)</span>
</div>

{% capture announcements %}{% include announcements.md %}{% endcapture %}
{{ announcements | markdownify }}
