## Guidelines

### Using the `"HTTP Header Live"` add-on to Inspect HTTP Headers {#web:sec:httpheaderlive}

The version of Firefox (version 60) in our Ubuntu 16.04 VM does not
support the `LiveHTTPHeader` add-on, which was used in our Ubuntu 12.04
VM. A new add-on called `"HTTP Header Live"` is used in its place. The
instruction on how to enable and use this add-on tool is depicted in
Figure [1](#web:fig:httpheader){reference-type="ref"
reference="web:fig:httpheader"}. Just click the icon marked by ; a
sidebar will show up on the left. Make sure that `HTTP Header Live` is
selected at position . Then click any link inside a web page, all the
triggered HTTP requests will be captured and displayed inside the
sidebar area marked by . If you click on any HTTP request, a pop-up
window will show up to display the selected HTTP request. Unfortunately,
there is a bug in this add-on tool (it is still under development);
nothing will show up inside the pop-up window unless you change its
size (It seems that re-drawing is not automatically triggered when the
window pops up, but changing its size will trigger the re-drawing).

![Enable the HTTP Header Live Add-on](./figs/HTTPHeaderLive.pdf){#web:fig:httpheader width="85%"}

### Using the Web Developer Tool to Inspect HTTP Headers {#web:sec:web_dev_tools}

There is another tool provided by Firefox that can be quite useful in
inspecting HTTP headers. The tool is the Web Developer Network Tool. In
this section, we cover some of the important features of the tool. The
Web Developer Network Tool can be enabled via the following navigation:

- Click Firefox's top right menu --> Web Developer --> Network, or
- Click the "Tools" menu --> Web Developer --> Network

We use the user login page in Elgg as an example.
Figure [2](#fig:webdevtools_01_request){reference-type="ref"
reference="fig:webdevtools_01_request"} shows the Network Tool showing
the HTTP POST request that was used for login.

![HTTP Request in Web Developer Network Tool](./figs/webdevtools_01_request.png){#fig:webdevtools_01_request width="80%"}

To further see the details of the request, we can click on a particular
HTTP request and the tool will show the information in two panes (see
Figure [3](#fig:webdevtools_02_two_panes){reference-type="ref" reference="fig:webdevtools_02_two_panes"}).

![HTTP Request and Request Details in Two Panes](./figs/webdevtools_02_two_panes.png){#fig:webdevtools_02_two_panes width="95%"}

The details of the selected request will be visible in the right pane.
Figure [\[fig:webdevtools\_03\_post\_headers\]](#fig:webdevtools_03_post_headers){reference-type="ref"
reference="fig:webdevtools_03_post_headers"} shows the details of the
login request in the `Headers` tab (details include URL, request method,
and cookie). One can observe both request and response headers in the
right pane. To check the parameters involved in an HTTP request, we can
use the `Params` tab.
Figure [\[fig:webdevtools\_03\_post\_params\]](#fig:webdevtools_03_post_params){reference-type="ref"
reference="fig:webdevtools_03_post_params"} shows the parameter sent in
the login request to Elgg, including `username` and `password`. The tool
can be used to inspect HTTP GET requests in a similar manner to HTTP
POST requests.

**Font Size.**
The default font size of Web Developer Tools window is quite small. It
can be increased by focusing click anywhere in the Network Tool window,
and then using `Ctrl` and `+` button.

### JavaScript Debugging

We may also need to debug our JavaScript code. Firefox's Developer Tool
can also help debug JavaScript code. It can point us to the precise
places where errors occur. The following instruction shows how to enable
this debugging tool:

- Click the "Tools" menu --> Web Developer --> Web Console, or
- use the Shift+Ctrl+K shortcut.

Once we are in the web console, click the `JS` tab. Click the downward
pointing arrowhead beside `JS` and ensure there is a check mark beside
`Error`. If you are also interested in Warning messages, click
`Warning`. See Figure [4](#devtool:fig:errocheckmark){reference-type="ref" reference="devtool:fig:errocheckmark"}.

![Debugging JavaScript Code (1)](./figs/errorCheckMark.png){#devtool:fig:errocheckmark width="40%"}

If there are any errors in the code, a message will display in the
console. The line that caused the error appears on the right side of the
error message in the console. Click on the line number and you will be
taken to the exact place that has the error. See
Figure [5](#devtool:fig:console){reference-type="ref" reference="devtool:fig:console"}.

![Debugging JavaScript Code (2)](./figs/consoleError2.png){#devtool:fig:console width="100%"}
