Containers are usually meant to be disposable, so once they are destroyed, all the data inside the containers is lost.
For this lab, we want to keep the data in the MySQL database (i.e., so that we do not lose our work when we shutdown our container).
To achieve this, we have mounted the `mysql_data` folder on the host machine to the `/var/lib/mysql` folder inside the MySQL container.
> The folder is created inside of `{{ include.classdir }}/` automatically once the MySQL container runs once.

This folder is where MySQL stores its database.
Thus, even if the container is destroyed, data in the database will persist since it actually resides on the host.
If you do want to start from a clean database, you can remove this folder:

```bash
$ sudo rm -rf mysql_data
```
