<!-- NOTE: This "stub" assumes that page.duedate and page.id variables are defined; the latter should be consistent with our directory naming scheme. -->

## Submission

This lab is due {{page.duedate}}.

Please submit your write-up in `{{page.dirname}}/README.md` within your **private** GitHub repository.

You need to submit a detailed lab report to describe what you have done and what you have observed, including relevant screenshots, command snippets, and code snippets.
For any important command snippets or code snippets you must also include a supporting explanation.
_Simply including commands/code without any explanation will not receive credit._
For any interesting or surprising observations, you also need to provide explanations.
You are encouraged to pursue further investigation, beyond what is required by the lab description.

Your `README.md` must be written up in valid Markdown.
Please also include any accompanying resources (e.g., source code, makefiles, screenshots).
Please do not commit/include any unnecessary files within your repository (I strongly recommend using a `.gitignore` file).
For general tips on how to write and format your submission, please see the [Lab Info & Tips page](../labs).
